# ignore dataset
datasets

# ignore test folders
rvforwardmodelling
rvgaussianprocess
notebooks
polychord
radvel

# ignore PolyChordLite
PolyChordLite

# ignore PolyChord chains
notebooks/chain/
src/chain/
chains/
src/output_dir/

# ignore output dir
notebooks/L98_59_aldo/
src/L98_59_aldo/
src/__pycache__/
L98_59_aldo/
output_dir/
chains/
src/*.pyc
src.*ipynb
src/*.log
src/*.txt


# output.txt
output.txt

# ignore docs
docs/.DS_Store
docs/_build/

# ignore notebook
src/run_l9859.ipynb
