# ignore dataset
datasets

# ignore test and tesp
tesp
test

# ignore PolyChordLite
PolyChordLite

# ignore PolyChord chains
notebooks/chain/
src/chain/
chains/

# ignore output dir
notebooks/L98_59_aldo/
src/L98_59_aldo/
src/__pycache__/
L98_59_aldo/

# output.txt
output.txt